.journals-container {

  max-width: 100vw;
  min-height: 100vh;
  padding: 25px 0px 50px 50px;

  display: flex;
  flex-direction: column;
  align-items: flex-end;

  background:	#f2f2f2fc;

  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;

}

.journal-card-container {

  background: transparent;
  width: 90vw;
  text-align: left;

}


.journal-card-purple {

  min-height: 150px;
  background: white;
  color: #F39C12;
  font-size: 5vw;
  letter-spacing: 2px;

  border-left: 2px solid purple;

  margin-bottom: 50px;
  padding: 10px 0px 25px 25px;
  z-index: 2;

  box-shadow: 0px -1px 10px darkgray;

  -webkit-box-reflect: below 0px -webkit-gradient(linear, right top, right bottom, from(transparent), color-stop(40%, transparent), to(rgba(255, 255, 255, 0.1)));

}

.journal-card-orange {

  min-height: 150px;
  background: white;
  color: #F39C12;
  font-size: 5vw;

  border-left: 2px solid #F39C12;

  margin-bottom: 50px;
  padding: 10px 0px 25px 25px;
  z-index: 2;

  box-shadow: 0px -1px 10px darkgray;

  -webkit-box-reflect: below 0px -webkit-gradient(linear, right top, right bottom, from(transparent), color-stop(40%, transparent), to(rgba(255, 255, 255, 0.1)));

}

.journal-buttons-container {

  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.journal-button {
  width: 35vw;
  height: 5vh;
  padding: 0.5vh;
  margin: 10px 0px;

  background: #F39C12;

  color: white;
  font-size: 4vw;
  text-align: center;
  font-weight: 400;
  letter-spacing: 2px;

  border-radius: 15px;
  border: none;

  cursor: pointer;
}