.layout-container {
max-width: 100vw;
min-Height: 100vh;

display: flex;
flex-direction: column;

}

@media (hover: none) {
  .fas, .far{
    color: #F39C12;
  }
}

@media (hover: hover) {
.fas:hover, .far:hover  {

  font-size: 40px;
  color: #4F2958;
    
  }
}