#hidden {
  display: none;
}

#question-hidden {
  display: none;
}

.question-container {

  width: 100vw;
  min-height: 100vh;
  padding: 50px;

  background: #F39C12;
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  position: absolute;
  top: 0;
  z-index: 5;

  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;

}

.survey-header-container {

  width: calc(100vw - 100px);

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;
}

.survey-progress-markers-container {

  width: 90%;
  margin: 10px 0px;

  display: flex;
  justify-content: space-evenly;
}

.survey-progress-marker {

  background: white;

  height: 10px;
  width: 40px;
  margin: 5px;

  border-radius: 12px;
  flex-shrink: 2;
}

.active-progress-marker {
  opacity: 1;
}

.inactive-progress-marker {
  opacity: 0.60;
}

.survey-navigation-button {
  color: white;
  margin: 5px;
}

.survey-title {
  font-size: 6vw;
  letter-spacing: 0.9px;
  flex-grow: 1;
}

.question-copy {

  width: 100%;
  /* min-height: 10vh; */
  font-size: 6vw;
  text-align: left;
  vertical-align: bottom;
  letter-spacing: 0.9px;
  padding: 0px 5px;
  margin-bottom: 0px;

}

.options-container {
  width: 100%;
  margin: 20px 0px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  /* flex-grow: 1; */

  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;
}

.question-button {
  width: 40vw;
  height: 5vh;
  padding: 0.5vh;
  margin-top: 25px;

  background: white;

  color: #F39C12;
  font-size: 4vw;
  text-align: center;
  font-weight: 400;
  letter-spacing: 2px;

  border-radius: 15px;
  border: none;

  cursor: pointer;

  /* flex-grow: 1; */

}


@media only screen and (min-width: 375px) {

}

@media only screen and (min-width: 481px) {
  .survey-navigation-button {
    font-size: 40px;
  }
}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 1024px) {
  .question-container {
    width: 50vw;
    height: 100vh;
    max-height: 100vh;
    padding: 75px;
    background: rgba(255, 165, 0, 0.7);

    outline: 1px solid white;
    outline-offset: -25px;

    overflow-y: scroll;
  }

  .survey-header-container { 
    width: calc((50vw - 150px));
    max-width: 500px;
  }

  .survey-navigation-button {
    font-size: 40px;
    margin: 10px;
  }

  .survey-title {
    margin-bottom: 0px;
  }

  .survey-title, .question-copy {
    font-size: 3vw;
  }

  .login-form-label, .login-form-input {
    /* width: calc(50vw - 100px); */
    font-size: 1vw;
  }

  .options-container {
    width: calc((50vw - 150px));
    max-height: 40vh;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    overflow-y: scroll;
  }

  .question-button {
    width: 15vw;
    height: 7.5vh;
    padding: 0.5vh;

    font-size: 2vw;
    font-weight: 400;
    letter-spacing: 2px;
  }
}

@media only screen and (min-width: 1200px) {
  .question-copy {
    font-size: 2vw;
  }
}

@media only screen and (min-width: 1600px) {

}