#hidden {
  display: none;
}

#question-hidden {
  display: none;
}

.question-container {

  width: 100vw;
  min-height: 100vh;
  padding: 50px;

  background: #F39C12;
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  position: absolute;
  top: 0;
  z-index: 5;

  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;

}

.survey-header-container {

  width: calc(100vw - 100px);

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;
}

.survey-progress-markers-container {

  width: 90%;
  margin: 10px 0px;

  display: flex;
  justify-content: space-evenly;
}

.survey-progress-marker {

  background: white;

  height: 10px;
  width: 40px;
  margin: 5px;

  border-radius: 12px;
  flex-shrink: 2;
}

.active {
  opacity: 1;
}

.inactive {
  opacity: 0.60;
}

.survey-navigation-button {
  
  color: white;
  margin: 5px;

}

.survey-title {

  font-size: 6vw;
  letter-spacing: 0.9px;
  flex-grow: 1;

}

.question-form {

  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 2;

  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;
}


.question-copy {

  width: 100%;
  /* min-height: 10vh; */
  font-size: 6vw;
  text-align: left;
  vertical-align: bottom;
  letter-spacing: 0.9px;
  padding: 0px 5px;
  margin-bottom: 0px;

}

.options-container{
  width: 100%;
  margin: 20px 0px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  /* flex-grow: 1; */

  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;
}

.question-button {
  width: 40vw;
  height: 5vh;
  padding: 0.5vh;
  margin-top: 25px;

  background: white;

  color: #F39C12;
  font-size: 4vw;
  text-align: center;
  font-weight: 400;
  letter-spacing: 2px;

  border-radius: 15px;
  border: none;

  cursor: pointer;

  /* flex-grow: 1; */

}

.free-response-textarea {

  width: 100%;
  height: 10vh;
  margin-top: 2px;
  padding: 10px;

  background: white;
  color: #F39C12;

  font-weight: 300;
  text-align: left;

  border: 1px solid white;
  border-radius: 12px;
  flex-grow: 1;

  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;

}

.free-response-textarea::placeholder {
  color: #F39C12;
}

@media only screen and (min-width: 600px) {

  .question-copy{

    width: 70%;
    min-height: 5vh;
    font-size: 4vw;
    text-align: left;
    letter-spacing: 0.9px;
  
  }


.options-container{
  width: 70%;
  margin: 20px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 1;

  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;
}

.questionnaire-header-container {

  max-width: 70vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

}