.option-container {
  width: 100%;
}

.input-option-container, .self-describe-option-container, .free-response-option-container {
  width: 100%;
  margin: 5px 0px;
  padding: 5px;
  
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  border: 1px solid white;
  border-radius: 15px;

  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;
}

.self-describe-label {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  width: 100%;
}

.self-describe-textarea {
  width: 100%;
  /* background: white; */
}

.hidden {
  display: none;
}

.visible {
  display: inline-block;
}

/* .self-describe-option-container {
  flex-direction: column;
} */

.radio-input {

  outline: none; 
  border: 1px solid white;
  background-color: #F39C12;

}

.checkbox-input {

  outline: none; 
  border: 1px solid white;
  background: #F39C12;
  color: white;

}

.self-describe-textarea {

  width: 100%;
  height: 150%;
  margin-top: 5px;
  padding: 10px;

  background: rgba(241, 241, 241, 0.75);
  border: solid white 1px;
  border-radius: 5px;

  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;
}

.self-describe-textarea, .self-describe-textarea::placeholder {
  font-family: Arial, Helvetica, sans-serif;
  color: darkgray;
  letter-spacing: 1.2px;
  font-weight: 100;
  font-style: italic;
  text-align: left;
}

@media only screen and (min-width: 600px) {

  .option-container {
    width: 100%;
    margin: 5px;
    padding: 5px;
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  
    border: 1px solid white;
    border-radius: 15px;
  
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;
  }

}