.home-container {

  max-width: 100%;
  min-height: 100vh;
  height: 100%;
  padding: 25px 0px 50px 50px;
  margin-top: 0px;

  display: flex;
  flex-direction: column;
  align-items: flex-end;

  background:	#f2f2f2fc;

  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;

}

.home-card {

  background: transparent;
  min-width: 90%;
  text-align: left;

  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;
}

.home-card-title{

  color: #989898;
  font-size: 4vw;
  letter-spacing: 2px;
  
}

.home-card-content {

  background: #F39C12;
  height: 150px;

  margin-bottom: 50px;
  padding: 10px 0px 25px 25px;
  z-index: 2;

  box-shadow: 0px -1px 10px darkgray;

  -webkit-box-reflect: below 0px -webkit-gradient(linear, right top, right bottom, from(transparent), color-stop(40%, transparent), to(rgba(255, 255, 255, 0.1)));

}

.home-card-copy {

  color: white;
}

.home-journal-button {

  width: 40vw;
  height: 5vh;
  padding: 0.5vh;
  margin: 10px 0px;

  background: white;

  color: #F39C12;
  font-size: 4vw;
  text-align: center;
  font-weight: 400;
  letter-spacing: 2px;

  border-radius: 15px;
  border: none;

  cursor: pointer;

}

#event {

background: white;
color: #F39C12;
display: flex;
flex-direction: row;

}

.event-info {
  margin-top: 15px;
}

#event-date {

width: 40%;

display: flex;
flex-direction: column;
text-align: center;
justify-content: center;

}

#event-day {

  font-size: 20vw;
  margin-bottom: 0px;
  font-weight: 500;
}

#event-month {

  font-size: 15vw;
  margin: 0px;
  font-weight: 500;
}

#event-name {

width: 55%;
margin-left: 50px;

display: flex;
flex-direction: column;
justify-content: space-between;

}

#event-title {
  font-size: 5vw;
  font-weight: bold;

  margin: 0px;
}

.fade-in-home {
	-webkit-animation: fade-in-home 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.5s both;
	        animation: fade-in-home 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.5s both;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-11-3 1:58:27
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-in
 * ----------------------------------------
 */
 @-webkit-keyframes fade-in-home {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in-home {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-out-home {
	-webkit-animation: fade-out 1s ease-out both;
	        animation: fade-out 1s ease-out both;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-11-3 21:18:28
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-out
 * ----------------------------------------
 */
 @-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media only screen and (min-width: 600px) {
.home-container {
  max-width: 100%;
  margin-top: 75px;
}

#event-day {
  font-size: 7vw;
  margin: 0px;
  font-weight: bold;
}

#event-month {
  font-size: 7vw;
  margin: 0px;
  font-weight: bold;
}


}